@model UsuarioModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/SHARED/_Layout.cshtml";
}

<!-- <form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
    <style>
        .spaaco {
            margin-top: 150px;
        }
    </style>
    <div class="spaaco"></div>

    <div class="container-fluid">
        <div class="row">

            <!--COLUNA DE LOGIN:-->
            <div class="col textFilmS">
                <br /><h4>Já tem uma conta? Entre:</h4>

                    <div> <!--E-mail para login-->
                        <p>E-mail:</p>
                        <input type="text" class="logEmail" placeholder="emailgenerico@serviço.com" />
                    </div>

                    <div> <!--Senha para login-->
                        <p>Senha:</p>
                        <input type="password" class="logSenha" placeholder="admin1234" maxlength="12" />
                    </div>

                    <div> <!--Botão-->
                        <br /><input type="submit" value="Acesse" class="btn btn-secondary" /> <br />
                    </div>
            </div>

            <!--COLUNA DE CADASTRO:-->
            <form asp-controller="Cadastro" asp-action="Cadastro" method="post">
            <div class="col textFilmS">
                <h4>Ainda não é cadastrado? Faça hoje mesmo: <br /></h4>

                <div>
                    <p>Nome de usuário:</p>
                    <input type="text" asp-for="UserName" placeholder="Silva_10" class="cadUName" maxlength="15" />
                </div>
                    
                <div>
                    <br /><p>Nome:</p>
                    <input type="text" asp-for="Nome" placeholder="Geraldo Silva Neto" class="cadName" />
                </div>
                
                <div>
                    <br /><p>Data de Nascimento:</p>
                    <input type="date" asp-for="DataNasc" class="cadDate" />
                </div>

                <div>
                    <br /><p>Endereço de E-mail:</p>
                    <input type="email" asp-for="Email" class="cadEmail" placeholder="emailgenerico@serviço.com" maxlength="55" />
                </div>

                <div>
                    <br /><p>Senha:</p>
                    <input type="password" asp-for="Senha" class="cadSenha" placeholder="admin1234" maxlength="12" /><br />
                </div>

                <div>
                    <p class="margem"></p>
                    <a class="nav-link link" asp-area="" asp-controller="Perfil" asp-action="Perfil">
                        <input type="submit" class="cadBut btn btn-secondary" value="Acessar" />
                    </a>
                </div>

            </div>
            </form>

                @Html.Raw(ViewBag.msg)
            </div>

        </div>

    <div class="spaaco"></div>
