@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="container-fluid">
        <div class="row lancamentos">
            <p><b>LANÇAMENTOS EM DESTAQUE</b></p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="textFilmS">
                    <img src="~/css/IMG/doctorStrange_Multiverse.png" 
                    alt="Pôster Doutor Estranho no Multiverso da Loucura" width="150" />
                    <a class="nav-link link" asp-area="" asp-controller="Conteudo" asp-action="Conteudo">
                        <h4>Doutor Estranho no Multiverso da Loucura</h4>
                    </a>
                    <h5>De Sam Raimi</h5>

                    <div class="estrelas">
                        <input type="radio" id="cm_star-empty" name="fb" value="" checked />
                        <label for="cm_star-1"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-1" name="fb" value="1" />
                        <label for="cm_star-2"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-2" name="fb" value="2" />
                        <label for="cm_star-3"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-3" name="fb" value="3" />
                        <label for="cm_star-4"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-4" name="fb" value="4" />
                        <label for="cm_star-5"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-5" name="fb" value="5" />

                    </div>
                </div>
            </div>
            <div class="col">
                <img src="~/IMGs/dunahome.jpg" width="150" />

                <div class="textFilmS">
                    <h4>Duna</h4>
                    <h5>De Denis Villeneuve</h5>
                </div>
                <div class="estrelas">
                    <input type="radio" id="cm_star-empty" name="fb" value="" checked />
                    <label for="cm_star-1"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-1" name="fb" value="1" />
                    <label for="cm_star-2"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-2" name="fb" value="2" />
                    <label for="cm_star-3"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-3" name="fb" value="3" />
                    <label for="cm_star-4"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-4" name="fb" value="4" />
                    <label for="cm_star-5"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-5" name="fb" value="5" />
                </div>
            </div>
            <div class="col">
                <img src="~/IMGs/finch.jpg" />
                <h4>Finch</h4>
                <h5>De Miguel Sapochnik</h5>
                <div class="estrelas">
                    <input type="radio" id="cm_star-empty" name="fb" value="" checked />
                    <label for="cm_star-1"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-1" name="fb" value="1" />
                    <label for="cm_star-2"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-2" name="fb" value="2" />
                    <label for="cm_star-3"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-3" name="fb" value="3" />
                    <label for="cm_star-4"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-4" name="fb" value="4" />
                    <label for="cm_star-5"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-5" name="fb" value="5" />
                </div>
            </div>
            <div class="col">
                <img src="~/IMGs/caubóibibope.jpg" />
                <h4>Cowboy Bebop (2021)</h4>
                <h5>De André Nemec, Jeff Pinkner</h5>
                <div class="estrelas">
                    <input type="radio" id="cm_star-empty" name="fb" value="" checked />
                    <label for="cm_star-1"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-1" name="fb" value="1" />
                    <label for="cm_star-2"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-2" name="fb" value="2" />
                    <label for="cm_star-3"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-3" name="fb" value="3" />
                    <label for="cm_star-4"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-4" name="fb" value="4" />
                    <label for="cm_star-5"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-5" name="fb" value="5" />
                </div>
            </div>
            <div class="col">
                <img src="~/IMGs/familiaadams.jpg" />
                <h4>A Família Addams</h4>
                <h5>
                    De Conrad Vernon,
                    Greg Tiernan
                </h5>
                <div class="estrelas">
                    <input type="radio" id="cm_star-empty" name="fb" value="" checked />
                    <label for="cm_star-1"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-1" name="fb" value="1" />
                    <label for="cm_star-2"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-2" name="fb" value="2" />
                    <label for="cm_star-3"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-3" name="fb" value="3" />
                    <label for="cm_star-4"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-4" name="fb" value="4" />
                    <label for="cm_star-5"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-5" name="fb" value="5" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row lancamentos">
            <p><b>FILMES E SÉRIES EM DESTAQUE</b></p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="textFilmS">
                    <img src="~/IMGs/eutimato (1).jpg" width="150" />
                    <h4>Vingadores: Ultimato</h4>
                    <h5>De Joe Russo, Anthony Russo</h5>

                    <div class="estrelas">
                        <input type="radio" id="cm_star-empty" name="fb" value="" checked />
                        <label for="cm_star-1"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-1" name="fb" value="1" />
                        <label for="cm_star-2"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-2" name="fb" value="2" />
                        <label for="cm_star-3"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-3" name="fb" value="3" />
                        <label for="cm_star-4"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-4" name="fb" value="4" />
                        <label for="cm_star-5"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-5" name="fb" value="5" />
                    </div>
                </div>
            </div>
            <div class="col">

                <div class="textFilmS">
                    <h4>Homem-Aranha: Sem Volta para Casa</h4>
                    <h5>De Jon Watts</h5>
                    <div class="estrelas">
                        <input type="radio" id="cm_star-empty" name="fb" value="" checked />
                        <label for="cm_star-1"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-1" name="fb" value="1" />
                        <label for="cm_star-2"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-2" name="fb" value="2" />
                        <label for="cm_star-3"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-3" name="fb" value="3" />
                        <label for="cm_star-4"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-4" name="fb" value="4" />
                        <label for="cm_star-5"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-5" name="fb" value="5" />
                    </div>

                </div>

            </div>
            <div class="col">
                <h4>Matrix: Resurrections</h4>
                <h5>De Lana Wachowski</h5>
                <div class="estrelas">
                    <input type="radio" id="cm_star-empty" name="fb" value="" checked />
                    <label for="cm_star-1"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-1" name="fb" value="1" />
                    <label for="cm_star-2"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-2" name="fb" value="2" />
                    <label for="cm_star-3"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-3" name="fb" value="3" />
                    <label for="cm_star-4"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-4" name="fb" value="4" />
                    <label for="cm_star-5"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-5" name="fb" value="5" />
                </div>
            </div>
            <div class="col">

                <h4>Demon Slayer - Mugen Train: O Filme</h4>
                <h5>De Haruo Sotozaki</h5>
                <div class="estrelas">
                    <input type="radio" id="cm_star-empty" name="fb" value="" checked />
                    <label for="cm_star-1"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-1" name="fb" value="1" />
                    <label for="cm_star-2"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-2" name="fb" value="2" />
                    <label for="cm_star-3"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-3" name="fb" value="3" />
                    <label for="cm_star-4"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-4" name="fb" value="4" />
                    <label for="cm_star-5"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-5" name="fb" value="5" />
                </div>
            </div>

            <div class="col">

                <div class="textFilmS">

                    <h4>Interestelar</h4>
                    <h5>De Christopher Nolan</h5>
                    <div class="estrelas">
                        <input type="radio" id="cm_star-empty" name="fb" value="" checked />
                        <label for="cm_star-1"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-1" name="fb" value="1" />
                        <label for="cm_star-2"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-2" name="fb" value="2" />
                        <label for="cm_star-3"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-3" name="fb" value="3" />
                        <label for="cm_star-4"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-4" name="fb" value="4" />
                        <label for="cm_star-5"><i class="fa"></i></label>
                        <input type="radio" id="cm_star-5" name="fb" value="5" />
                    </div>
                </div>
            </div>
        </div>

        <div class="marginBot"></div>
    </div>
</div>
