<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] HorusReviews</title>
    <!-- CSS DO BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- SCRIPT DO JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--SCRIPT DO BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!--SCRIPT FONTAWESOME-->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <!--<script src="https://kit.fontawesome.com/1dcfa88280.js"" crossorigin="anonymous"></script>-->
    <!--SCRIPT DO GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap" rel="stylesheet">
    <!--LINK DO ARQUIVO CSS: -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/HorusReviews_MVC_19_05_2022.styles.css" asp-append-version="true" />
</head>
<body class="corpo">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 bg-light textFilmS">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <p class="navbar-brand nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">HorusReviews</p>
                        <style>
                            .link {
                                color: dodgerblue;
                            }
                        </style>
                    </div>
                    <div class="col cab">
                        <!--<div class="navbar-collapse collapse d-sm-inline-flex justify-content-around"> -->
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <!--Link página filmes-->
                                <a class="nav-link link" asp-area="" asp-controller="Perfil" asp-action="HomeLogado">Filmes</a>
                            </li>
                            <li class="nav-item">
                                <!--Link página séries:-->
                                <a class="nav-link link" asp-area="" asp-controller="Home" asp-action="Privacy">Séries</a>
                            </li>
                            <li class="nav-item">
                                <!--Ícone do site-->
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                    <i> <img src="~/css/IMG/OlhoGenerico.jpg" alt="Olho de Horus" width="50"/>
                                    <!--<img src="~/css/IMG/OlhoGenerico.jpg" class="img" width="50" />-->
                                    </i>
                                    
                                </a>
                            </li>
                            <li class="nav-item">
                                <!--Link página Animes-->
                                <a class="nav-link link" asp-area="" asp-controller="Home" asp-action="Privacy">Animes</a>
                            </li>
                            <li class="nav-item">
                                <!--Link página HQS-->
                                <a class="nav-link link" asp-area="" asp-controller="Home" asp-action="Privacy">HQS</a>
                            </li>
                            <li class="nav-item">
                                <!--Link página Animes-->
                                <a class="nav-link link" asp-area="" asp-controller="Cadastro" asp-action="Perfil">Perfil</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-light">
        <div class="container">
            <div class="container-fluid rodape">
                <div class="row">
                    <div class="col">
                        <p>2022 - HORUS REVIEWS©</p>
                    </div>
                    <div class="col">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter-square"></i>
                        <i class="fab fa-instagram-square"></i>
                    </div>
                    <div class="col">
                        <i class="fab fa-google-play"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
