@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img src="~/css/IMG/doctorStrange_Multiverse.png" alt="Pôster Doutor Estranho no Multiverso da Loucura" width="150px"/>
            </div>

            <div class="col textFilmS">
                <h4>Doutor Estranho no<br />Multiverso da Loucura</h4>
                <h5>de Sam Raimi</h5>
            </div>

                <div class="col">
                </div>
            <div>
                <h3>Sinopse</h3>
                <h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </h4>
            </div>

            <div>
                <h3>Comentários: </h3>
                <input class="input" type="text" maxlength="950" placeholder="Adicionar um comentário público" />
            </div>
            <br />
            

            <div class="margem">
                <hr />
            </div>

            <div class="col">
                <i class="fa-solid fa-user"></i>
                <h5>Nome do usuário</h5>
            </div>

            <div class="col">
                <h4>Review deste usuário:</h4>
                <h5 class="comentDest2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </h5>
            </div>

            <div class="col"></div>

        </div>

    </div>
</div>
