
@{
    ViewData["Title"] = "Conteudo";
    Layout = "~/Views/SHARED/_LayoutLogado.cshtml";
}


<div>
    <div class="textFilmS">
        <h2>Doutor Estranho no<br />Multiverso da Loucura</h2>
        <h5>de Sam Raimi</h5>
        <br />
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col textFilmS">
                <img src="~/css/IMG/doctorStrange_Multiverse.png" alt="Pôster Doutor Estranho no Multiverso da Loucura" width="200px" />
            </div>

            <div class="col marginBot">
                <h3>Sinopse</h3>
                <h5>
                    Em Doutor Estranho no Multiverso da Loucura, após derrotar Dormammu e enfrentar Thanos nos eventos de Vingadores: Ultimato, <br />
                    o Mago Supremo, Stephen Strange (Benedict Cumberbatch), e seu parceiro Wong (Benedict Wong), continuam suas pesquisas sobre
                    a Joia do Tempo. Mas um velho amigo que virou inimigo coloca um ponto final nos seus planos e faz com que Strange desencadeie
                    um mal indescritível, o obrigando a enfrentar uma nova e poderosa ameaça.
                </h5>
            </div>
            <div>
                <style>
                    .margin{

                    }
                </style>
            </div>
            <hr />
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h3>Comentários: </h3>
                            <input class="comentDest2" type="text" maxlength="950" placeholder="Adicionar um comentário público" />
                    </div>

                    <div class="col textFilmS1">
                        <a class="nav-link link" asp-area="" asp-controller="Cadastro" asp-action="">
                            <input class="cadBut btn btn-secondary" type="submit" value="Enviar" />
                        </a>
                    </div>
                </div>
            </div>
            <br />


            <div class="margem">
                <hr />
            </div>

            <div>
                <i class="fa-solid fa-user"></i>
                <h5>Nome do usuário</h5>
            </div>

            <div>
                <h4>Comentários:</h4>
                <h5 class="comentDest2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </h5>
                    <p><i>Data de envio: 01/01/0001</i></p>
            </div>

            <hr />
            
            <div>
                <i class="fa-solid fa-user"></i>
                <h5>Nome do usuário</h5>
            </div>

            <div>
                    <h5 class="comentDest2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </h5>
                    <p><i>Data de envio: 01/01/0001</i></p>
                    <hr />
            </div>

            <div class="col"></div>

        </div>

    </div>
