@model List<UsuarioModel>
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/SHARED/_LayoutLogado.cshtml";
}

<div>
    <div class="container-fluid">
        <style>
            .icon {
                align-items: center;
                text-align: center;
                margin-top: 50px;
            }

            .italic {
                text-align: right;
                font-size: 15px;
            }
        </style>

        <div class="row margem">
            <!--ÍCONE DE USUÁRIO:-->
            <div class="col icon">
                <i class="far fa-user-circle fa-4x" style="width:100px"></i>

                <!--LISTANDO USUÁRIOS CADASTRADOS NO BANCO:-->
                @if (Model != null && Model.Any())
                {
                    foreach (UsuarioModel usuario in Model)
                    {
                        <h3>@usuario.UserName</h3>
                        <h4>@usuario.Email</h4>
                        <div>
                            <a class="nav-link link " asp-route-id="@usuario.UserName" asp-area="" asp-controller="Perfil" asp-action="Editar"> Editar Informações do perfil </a>
                        </div>
                        <div>
                            <a class="nav-link link " asp-route-id="" asp-area="@usuario.UserName" asp-controller="Perfil" asp-action="Editar"> Apagar Informações do perfil </a>
                        </div>
                    }
                }

            </div>

            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>

            <div class="col center icon">
                <input type="button" class="bot" value="Seguir" />
            </div>

            <hr />
            <div class="row menuUser">

                <!--Ícones-->
                <!--Home-->
                <div class="col center borderMen">
                    <i class="fas fa-home"> Home</i>
                </div>
                <!--Filmes-->
                <div class="col">
                    <i class="fas fa-video"> Filmes</i>
                </div>
                <!--Séries-->
                <div class="col">
                    <i class="fas fa-film"> Séries</i>
                </div>
                <!--Críticas/resenhas-->
                <div class="col">
                    <i class="fas fa-pencil-alt"> Críticas/Resenhas</i>
                </div>

            </div>

            <div class="margem"></div>

            <p>Filmes e séries favoritos deste usuário: </p>

            <div class="row">
                <div class="col center">
                    <img src="~/IMGs/dunahome.jpg" />
                    <div class="textFilmS">
                        <h4>Duna</h4>
                        <h5>De Denis Villeneuve</h5>
                    </div>
                </div>
                <div class="col center">
                    <img src="~/IMGs/eternoshome.jpg" />
                    <div class="textFilmS">
                        <h4>Eternos</h4>
                        <h5>Chloé Zhao</h5>
                    </div>
                </div>

                <div class="col center">
                    <img src="~/IMGs/eutimato (1).jpg" width="150" />
                    <div class="textFilmS">
                        <h4>Ultimato</h4>
                        <h5>Irmãos Russo</h5>
                    </div>
                </div>
            </div>

            <div class="margem"></div>

            <p>Comentários destacados:</p>
            <!--if (Model != null && Model.Any())
            {
                foreach (UsuarioModel usuario in Model)
                {
                    <div class="col">
                    <h3>usuario.UserName</h3>
                    <h3>comentario.DataPost</h3>
                    </div>
                    <h5>comentario.TextoComentario</h5>
                    <h4>usuario.Email</h4>
                    </div>
                        
                }
            }-->
        <div>
            <div class="col comentDest">

                <p>Achei meio daorinha.</p>
                <p class="italic"><i>Postado no dia 32/02/0001 em "Peppa Pig".</i></p>
            </div>

            <div class="marginBot"></div>
        </div>
    </div>

</div>
