/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.corpoR {
    background: linear-gradient(#ffffff, #ffff80);
    font-size: 20px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    border-bottom: black solid 1px;
}



.corpo {
    background: linear-gradient(#ffffff, #ffff80);
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    border-bottom: black solid 1px;
}



.bot {
    background-color: dodgerblue;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}



.borderMen {
    border: solid gray 1px;
    background-color: #969696;
    border-radius: 10px;
}



.menuUser {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-right: 5px;
}



.center {
    align-items: center;
    text-align: center;
}



.comentDest {
    border: solid black 1px;
    background-color: white;
    color: black;
    padding-left: 5px;
    margin-right: 750px;
}



.bio {
    font-size: 30px;
}



.img {
    width: 70px;
    height: 70px;
}



.textFilmS { /* Alinha o texto abaixo dos filmes */
    text-align: center;
    align-items: center;
}



.cab {
    text-align: center;
    border-bottom: black solid 1px;
    font-size: 16px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.rodape {
    padding-top: 5px;
    text-align: center;
    border-bottom: black solid 1px;
    font-size: 16px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}



.lancamentos {
    background-color: lightgray;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    border-bottom: black solid 1px;
    margin-bottom: 15px;
}



.estrelas input[type=radio] {
    display: none;
}



.estrelas label i.fa {
    font-size: 1.2em;
    padding-bottom: 10px;
}



    .estrelas label i.fa:before {
        content: '\f005';
        color: #FC0;
    }



.estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
}

.margem {
    margin-top: 25px;
}

.marginBot {
    margin-bottom: 165.5px;
}

